/*Para background de cards em fundo branco*/
.cards-bg {
    background-color: rgb(252, 252, 252);
  }

/*Timeline*/
.timeline {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
  }
  
  .line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: #E2E8F0;
    transform: translateX(-50%);
  }
  
  .timeline a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timeline a:nth-child(even) {
    margin-right: 140px; /* Adjust this value for spacing */
  }
  
  .timeline a:nth-child(odd) {
    margin-left: 140px; /* Adjust this value for spacing */
  }

  /*SHADOW pros circulos*/

  .shadow-custom {
    box-shadow: 0 4px 6px #5a5ada36 , 0 6px 10px rgba(89, 89, 220, 0.173);
  }

  
  
  
